body {
    background-color: #ffffff;
    font-family: 'Nunito Sans';
}

html {
    scroll-behavior: smooth;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.header {
    background-color: aliceblue !important;
}

.header-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    border-radius: 0.25rem;
    padding: 0;
    height: 58px;
}


.header-btn>a {
    font-size: 22px;
    transition: .25s;
}

.header-btn>a:hover {
    color: #fff;
}

.header-title {
    font-size: 32px;
    font-weight: 700;
    color: #0D6EFD !important;
    transition: 0.5s;
    background-color: aliceblue !important;
}

.header-title:hover {
    color: #5096ff !important;
}

.header-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo>img {
    width: 34px;
}

.welcome {
    padding-top: 91.6px;
    padding-bottom: 91.6px;
    display: flex;
    gap: 6rem;
    align-items: center;
}

.welcome-new-files {
    display: flex;
    flex-direction: column;
}

.welcome-file {
    display: flex;
    align-items: center;
    gap: 30px;
}

.welcome-file:hover {
    cursor: pointer;
}

.welcome-file>img {
    width: 200px;
    border: 5px solid #0D6EFD;
    border-radius: 0.3rem;
}

.welcome-file>div {
    display: flex;
    flex-direction: column;
}

.welcome-file-title {
    font-size: 28px;
}

.welcome-file-description {
    font-size: 20px;
    opacity: 50%;
    white-space: nowrap;
}

.welcome-dash {
    background-color: black;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 25%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.welcome-text-title {
    font-size: 48px;
    text-wrap: nowrap;
}

.welcome-text-description {
    font-size: 24px;
}

.section2 {
    background-color: aliceblue;
}

.section4 {
    background-color: aliceblue;
}

.radiophisics-title {
    font-size: 48px;
    color: #0D6EFD;
}

.semester-title {
    font-size: 28px;
    color: #0D6EFD;
}

.list-element {
    color: #0D6EFD;
    background-color: rgb(224, 241, 255);
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: #fff !important;
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.white-a {
    background-color: aliceblue !important;
}

.white-a:not(.collapsed) {
    background-color: aliceblue !important;
}

.download-link {
    text-decoration: none;
}

.utils {
    background-color: #0D6EFD;
    gap: 20px;
    border-radius: 0.3rem;
    margin-left: 2.2rem;
    margin-top: 25vh;
    z-index: 9999 !important;
}

.utils>button>a {
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

.utils>button>a:hover {
    color: black !important;
}

.btn-up {
    position: fixed;
    background-color: #0D6EFD;
    right: 20px;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    transition: .5s;
}

.btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #0066ff;
        /* цвет заднего фона при наведении */
    }
}

.dev {
    opacity: 35%;
}